/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
/* line 8, ../scss/includes/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 18, ../scss/includes/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
/* line 31, ../scss/includes/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 50, ../scss/includes/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 61, ../scss/includes/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 70, ../scss/includes/_normalize.scss */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
/* line 79, ../scss/includes/_normalize.scss */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 92, ../scss/includes/_normalize.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
/* line 102, ../scss/includes/_normalize.scss */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 115, ../scss/includes/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 125, ../scss/includes/_normalize.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 134, ../scss/includes/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 143, ../scss/includes/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 152, ../scss/includes/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Correct the line-height for all headings in Chrome mobile, Firefox,
 * iOS Safari, Microsoft Edge and IE.
 */
/* line 162, ../scss/includes/_normalize.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 175, ../scss/includes/_normalize.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 184, ../scss/includes/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 193, ../scss/includes/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 201, ../scss/includes/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 205, ../scss/includes/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 216, ../scss/includes/_normalize.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 224, ../scss/includes/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 236, ../scss/includes/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
/* line 248, ../scss/includes/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 257, ../scss/includes/_normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 271, ../scss/includes/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
/* line 284, ../scss/includes/_normalize.scss */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 293, ../scss/includes/_normalize.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 303, ../scss/includes/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 314, ../scss/includes/_normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 325, ../scss/includes/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 337, ../scss/includes/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
/* line 348, ../scss/includes/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 361, ../scss/includes/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 374, ../scss/includes/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 383, ../scss/includes/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 393, ../scss/includes/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 403, ../scss/includes/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
/* line 412, ../scss/includes/_normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
/* line 421, ../scss/includes/_normalize.scss */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 431, ../scss/includes/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* line 3, ../scss/elements/_general.scss */
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
/* line 7, ../scss/elements/_general.scss */
body .wrapper {
  position: relative;
}
/* line 11, ../scss/elements/_general.scss */
body .wrapper .container {
  max-width: 1220px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
/* line 12, ../scss/elements/_general.scss */
body .wrapper .container h2 {
  font-size: 35px;
  font-weight: 300;
}
/* line 23, ../scss/elements/_general.scss */
body .pex-btn {
  display: inline-block;
  height: 60px;
  border-radius: 30px;
  box-sizing: border-box;
  line-height: 56px;
  font-size: 18px;
  background-color: #ffffff;
  padding: 2px 60px;
  text-decoration: none;
  color: #2e3b4e;
  font-weight: 700;
  transition: all .3s ease 0s;
  cursor: pointer;
}
@media (max-width: 767px) {
  /* line 23, ../scss/elements/_general.scss */
  body .pex-btn {
    font-size: 17px;
  }
}
/* line 40, ../scss/elements/_general.scss */
body .pex-btn.pb-purple {
  background-color: #8824cd;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  color: #ffffff;
  padding-top: 1px;
}
/* line 45, ../scss/elements/_general.scss */
body .pex-btn.pb-purple:hover {
  background-color: #6d1da4;
}
/* line 49, ../scss/elements/_general.scss */
body .pex-btn.pb-border {
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  line-height: 54px;
  padding: 0 58px;
}
/* line 55, ../scss/elements/_general.scss */
body .pex-btn.pb-border:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
/* line 59, ../scss/elements/_general.scss */
body .pex-btn.pb-sml {
  height: 35px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 31px;
  font-size: 13px;
}
/* line 65, ../scss/elements/_general.scss */
body .pex-btn.pb-sml.pb-border {
  padding-left: 28px;
  padding-right: 28px;
}
/* line 70, ../scss/elements/_general.scss */
body .pex-btn:hover {
  background-color: rgba(255, 255, 255, 0.85);
}
/* line 75, ../scss/elements/_general.scss */
body .clearboth:before, body .clearboth:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 1, ../scss/elements/_header.scss */
.pex-header {
  position: fixed;
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}
@media (max-width: 767px) {
  /* line 1, ../scss/elements/_header.scss */
  .pex-header {
    height: 60px;
    background-color: rgba(58, 49, 69, 0.95);
  }
}
/* line 13, ../scss/elements/_header.scss */
.pex-header .container {
  height: 100%;
  position: relative;
}
/* line 16, ../scss/elements/_header.scss */
.pex-header .container .ph-mobile-btn {
  display: none;
  position: absolute;
  left: 0;
  height: 100%;
  width: 60px;
  background-color: #FFFFFF;
}
@media (max-width: 895px) {
  /* line 16, ../scss/elements/_header.scss */
  .pex-header .container .ph-mobile-btn {
    display: block;
  }
}
/* line 26, ../scss/elements/_header.scss */
.pex-header .container .ph-mobile-btn:before {
  width: 32px;
  height: 32px;
  display: block;
  content: " ";
  position: absolute;
}
/* line 34, ../scss/elements/_header.scss */
.pex-header .container .ph-logo {
  width: 222px;
  height: 60px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 0;
  background-image: url("../img/logo.png");
  background-size: cover;
}
@media (max-width: 895px) {
  /* line 34, ../scss/elements/_header.scss */
  .pex-header .container .ph-logo {
    left: 50%;
    margin-left: -111px;
  }
}
/* line 50, ../scss/elements/_header.scss */
.pex-header .container .ph-mobile {
  height: 100%;
}
@media (max-width: 895px) {
  /* line 50, ../scss/elements/_header.scss */
  .pex-header .container .ph-mobile {
    height: auto;
    display: block;
    position: absolute;
    top: 60px;
    margin-left: -20px;
    background-color: #3e3347;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
/* line 62, ../scss/elements/_header.scss */
.pex-header .container .ph-mobile .ph-search {
  float: right;
  height: 100%;
  white-space: nowrap;
  padding-left: 20px;
}
@media (max-width: 895px) {
  /* line 62, ../scss/elements/_header.scss */
  .pex-header .container .ph-mobile .ph-search {
    width: 768px;
    padding-bottom: 20px;
    float: left;
  }
}
/* line 72, ../scss/elements/_header.scss */
.pex-header .container .ph-mobile .ph-search:before {
  content: " ";
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
/* line 79, ../scss/elements/_header.scss */
.pex-header .container .ph-mobile .ph-search input {
  height: 44px;
  width: 200px;
  border-radius: 22px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  padding: 0 20px;
  outline: 0 none;
  font-size: 12px;
  color: #626262;
  line-height: 44px;
}
/* line 91, ../scss/elements/_header.scss */
.pex-header .container .ph-mobile .ph-search input:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 92, ../scss/elements/_header.scss */
.pex-header .container .ph-mobile .ph-search input:focus::-moz-placeholder {
  color: transparent;
}
/* line 93, ../scss/elements/_header.scss */
.pex-header .container .ph-mobile .ph-search input:focus:-moz-placeholder {
  color: transparent;
}
/* line 94, ../scss/elements/_header.scss */
.pex-header .container .ph-mobile .ph-search input:focus:-ms-input-placeholder {
  color: transparent;
}
/* line 97, ../scss/elements/_header.scss */
.pex-header .container .ph-mobile .ph-menu {
  float: right;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
}
@media (max-width: 895px) {
  /* line 97, ../scss/elements/_header.scss */
  .pex-header .container .ph-mobile .ph-menu {
    float: left;
    padding-left: 20px;
  }
}
/* line 107, ../scss/elements/_header.scss */
.pex-header .container .ph-mobile .ph-menu li {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
@media (max-width: 895px) {
  /* line 107, ../scss/elements/_header.scss */
  .pex-header .container .ph-mobile .ph-menu li {
    display: list-item;
  }
}
/* line 114, ../scss/elements/_header.scss */
.pex-header .container .ph-mobile .ph-menu li a {
  color: #ffffff;
  display: block;
  height: 100%;
  padding: 0 20px;
  white-space: nowrap;
  box-sizing: border-box;
  padding-top: 3px;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  transition: all .3s ease 0s;
  font-size: 13px;
}
@media (max-width: 895px) {
  /* line 114, ../scss/elements/_header.scss */
  .pex-header .container .ph-mobile .ph-menu li a {
    font-size: 18px;
    padding: 10px 20px;
  }
}
/* line 129, ../scss/elements/_header.scss */
.pex-header .container .ph-mobile .ph-menu li a:before {
  content: " ";
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
/* line 136, ../scss/elements/_header.scss */
.pex-header .container .ph-mobile .ph-menu li a i {
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
}
/* line 141, ../scss/elements/_header.scss */
.pex-header .container .ph-mobile .ph-menu li a:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.7);
}

/* line 2, ../scss/elements/_img_block.scss */
.section.pex-img-left, .section.pex-img-right {
  position: relative;
  overflow: hidden;
}
/* line 6, ../scss/elements/_img_block.scss */
.section.pex-img-left .container .pi-text, .section.pex-img-right .container .pi-text {
  padding: 50px 0;
  color: #3a4d60;
  width: 56.666%;
  box-sizing: border-box;
}
@media (max-width: 895px) {
  /* line 6, ../scss/elements/_img_block.scss */
  .section.pex-img-left .container .pi-text, .section.pex-img-right .container .pi-text {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 6, ../scss/elements/_img_block.scss */
  .section.pex-img-left .container .pi-text, .section.pex-img-right .container .pi-text {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 768px) and (max-width: 895px) {
  /* line 6, ../scss/elements/_img_block.scss */
  .section.pex-img-left .container .pi-text, .section.pex-img-right .container .pi-text {
    padding: 40px 20px;
    text-align: justify;
  }
}
/* line 23, ../scss/elements/_img_block.scss */
.section.pex-img-left .container .pi-text .pi-img, .section.pex-img-right .container .pi-text .pi-img {
  position: absolute;
  top: -40%;
  width: 43.333%;
}
@media (max-width: 767px) {
  /* line 23, ../scss/elements/_img_block.scss */
  .section.pex-img-left .container .pi-text .pi-img, .section.pex-img-right .container .pi-text .pi-img {
    position: relative;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 895px) {
  /* line 23, ../scss/elements/_img_block.scss */
  .section.pex-img-left .container .pi-text .pi-img, .section.pex-img-right .container .pi-text .pi-img {
    position: relative;
    padding-top: 20px;
  }
}
/* line 36, ../scss/elements/_img_block.scss */
.section.pex-img-left .container .pi-text h4, .section.pex-img-right .container .pi-text h4 {
  font-size: 15px;
  font-weight: 700px;
  text-transform: uppercase;
}
/* line 41, ../scss/elements/_img_block.scss */
.section.pex-img-left .container .pi-text p, .section.pex-img-right .container .pi-text p {
  font-size: 19px;
  line-height: 31px;
}
/* line 44, ../scss/elements/_img_block.scss */
.section.pex-img-left .container .pi-text p + p, .section.pex-img-right .container .pi-text p + p {
  font-size: 15px;
  line-height: 26px;
}
/* line 54, ../scss/elements/_img_block.scss */
.section.pex-img-left .container .pi-text {
  float: right;
  padding-left: 20px;
}
@media (max-width: 479px) {
  /* line 54, ../scss/elements/_img_block.scss */
  .section.pex-img-left .container .pi-text {
    padding-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 895px) {
  /* line 60, ../scss/elements/_img_block.scss */
  .section.pex-img-left .container .pi-text p + p {
    padding-top: 100px;
  }
}
/* line 65, ../scss/elements/_img_block.scss */
.section.pex-img-left .container .pi-text .pi-img {
  left: 0;
}
@media (min-width: 768px) and (max-width: 895px) {
  /* line 65, ../scss/elements/_img_block.scss */
  .section.pex-img-left .container .pi-text .pi-img {
    float: left;
    padding-right: 20px;
    width: 36%;
  }
}
@media (min-width: 896px) and (max-width: 1024px) {
  /* line 65, ../scss/elements/_img_block.scss */
  .section.pex-img-left .container .pi-text .pi-img {
    top: -10%;
  }
}
/* line 81, ../scss/elements/_img_block.scss */
.section.pex-img-right .container .pi-text {
  float: left;
  padding-right: 20px;
}
@media (max-width: 479px) {
  /* line 81, ../scss/elements/_img_block.scss */
  .section.pex-img-right .container .pi-text {
    padding-right: 0;
  }
}
/* line 87, ../scss/elements/_img_block.scss */
.section.pex-img-right .container .pi-text .pi-img {
  right: 0;
}
@media (min-width: 768px) and (max-width: 895px) {
  /* line 87, ../scss/elements/_img_block.scss */
  .section.pex-img-right .container .pi-text .pi-img {
    float: right;
    padding-left: 20px;
  }
}

/* line 2, ../scss/sections/_stn_1.scss */
.section.stn-1 {
  background-image: url("../img/header_bg.jpg");
  height: 800px;
  padding-top: 101px;
  background-size: cover;
  box-sizing: border-box;
  max-height: 900px;
  min-height: 500px;
}
@media (max-width: 767px) {
  /* line 2, ../scss/sections/_stn_1.scss */
  .section.stn-1 {
    padding-top: 61px;
  }
}
/* line 13, ../scss/sections/_stn_1.scss */
.section.stn-1 .designs {
  display: block;
  max-width: 550px;
  text-align: right;
  color: aliceblue;
}
@media (max-width: 767px) {
  /* line 13, ../scss/sections/_stn_1.scss */
  .section.stn-1 .designs {
    text-align: center;
    max-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 13, ../scss/sections/_stn_1.scss */
  .section.stn-1 .designs {
    text-align: center;
    max-width: 100%;
  }
}
/* line 26, ../scss/sections/_stn_1.scss */
.section.stn-1 .designs h1 {
  font-size: 50px;
  font-weight: 400;
}
@media (max-width: 767px) {
  /* line 26, ../scss/sections/_stn_1.scss */
  .section.stn-1 .designs h1 {
    font-size: 44px;
  }
}

/* line 2, ../scss/sections/_stn_2.scss */
.section.stn-2 {
  background-color: #2e3b4e;
  color: white;
  padding: 50px 0;
}
/* line 6, ../scss/sections/_stn_2.scss */
.section.stn-2 .container {
  max-width: 860px;
}
@media (max-width: 767px) {
  /* line 6, ../scss/sections/_stn_2.scss */
  .section.stn-2 .container {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 895px) {
  /* line 6, ../scss/sections/_stn_2.scss */
  .section.stn-2 .container {
    text-align: center;
  }
}
/* line 14, ../scss/sections/_stn_2.scss */
.section.stn-2 .container .pex-grid {
  margin: 0 -15px;
  font-size: 0;
}
/* line 18, ../scss/sections/_stn_2.scss */
.section.stn-2 .container .pex-grid .pg-col {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  font-size: 15px;
  padding: 15px;
  vertical-align: top;
}
@media (max-width: 767px) {
  /* line 18, ../scss/sections/_stn_2.scss */
  .section.stn-2 .container .pex-grid .pg-col {
    width: 100%;
  }
}
/* line 28, ../scss/sections/_stn_2.scss */
.section.stn-2 .container .pex-grid .pg-col h3 {
  font-weight: 700;
  text-transform: uppercase;
}
/* line 32, ../scss/sections/_stn_2.scss */
.section.stn-2 .container .pex-grid .pg-col p {
  line-height: 26px;
}

/* line 2, ../scss/sections/_stn_3.scss */
.section.stn-3 {
  background-image: url("../img/stn-3-bg.jpg");
  background-size: cover;
  background-position: bottom;
  background-position: center 85%;
  background-repeat: no-repeat;
  color: white;
  position: relative;
}
/* line 10, ../scss/sections/_stn_3.scss */
.section.stn-3 .container {
  text-align: center;
  padding-top: 165px;
  padding-bottom: 165px;
  position: relative;
}
@media (max-width: 479px) {
  /* line 10, ../scss/sections/_stn_3.scss */
  .section.stn-3 .container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
/* line 20, ../scss/sections/_stn_3.scss */
.section.stn-3 .container P {
  font-size: 15px;
  font-weight: 400;
}
/* line 24, ../scss/sections/_stn_3.scss */
.section.stn-3 .container .pex-btn {
  color: #d54c63;
  margin-top: 30px;
}
/* line 29, ../scss/sections/_stn_3.scss */
.section.stn-3:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(231, 82, 107, 0.8);
}

/* line 2, ../scss/sections/_stn_5.scss */
.section.stn-5 {
  background-image: url("../img/bg_section5.jpg");
  position: relative;
  color: white;
}
/* line 6, ../scss/sections/_stn_5.scss */
.section.stn-5 .container {
  text-align: center;
  padding-top: 165px;
  padding-bottom: 165px;
  position: relative;
}
@media (max-width: 479px) {
  /* line 6, ../scss/sections/_stn_5.scss */
  .section.stn-5 .container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
/* line 16, ../scss/sections/_stn_5.scss */
.section.stn-5 .container P {
  font-size: 20px;
  font-weight: 400;
  color: #a87bb7;
}
/* line 21, ../scss/sections/_stn_5.scss */
.section.stn-5 .container .pex-btn {
  margin-top: 30px;
}
/* line 25, ../scss/sections/_stn_5.scss */
.section.stn-5:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(82, 26, 102, 0.8);
}

/* line 2, ../scss/sections/_stn_6.scss */
.section.stn-6 {
  position: relative;
  background-image: url("../img/stn-6-bg.jpg");
  background-size: cover;
}
/* line 6, ../scss/sections/_stn_6.scss */
.section.stn-6 .container {
  position: relative;
  padding: 355px 0px 80px 20px;
  color: aliceblue;
}
@media (max-width: 1024px) {
  /* line 6, ../scss/sections/_stn_6.scss */
  .section.stn-6 .container {
    padding: 150px 20px 150px 20px;
    text-align: center;
  }
}
/* line 14, ../scss/sections/_stn_6.scss */
.section.stn-6 .container h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
}
/* line 19, ../scss/sections/_stn_6.scss */
.section.stn-6 .container p {
  font-size: 13px;
  font-weight: 600;
}
/* line 24, ../scss/sections/_stn_6.scss */
.section.stn-6:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI3MjcyNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI3MjcyNyIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-linear-gradient(90deg, #272727, rgba(39, 39, 39, 0));
  background-image: -webkit-linear-gradient(90deg, #272727, rgba(39, 39, 39, 0));
  background-image: linear-gradient(0deg, #272727, rgba(39, 39, 39, 0));
}

/* line 6, ../scss/sections/_stn_7.scss */
.section.stn-7.pex-img-right .container .pi-text .pi-img {
  top: 0;
}
@media (min-width: 896px) and (max-width: 1024px) {
  /* line 6, ../scss/sections/_stn_7.scss */
  .section.stn-7.pex-img-right .container .pi-text .pi-img {
    top: 20%;
  }
}

/* line 2, ../scss/sections/_stn_8.scss */
.section.stn-8 {
  height: 250px;
  background-color: #e7526b;
  padding: 50px 0;
}
/* line 6, ../scss/sections/_stn_8.scss */
.section.stn-8 .container {
  padding: 50px 20px;
  height: 100%;
  text-align: center;
}
/* line 10, ../scss/sections/_stn_8.scss */
.section.stn-8 .container h4 {
  font-weight: 700;
  text-transform: uppercase;
}
/* line 14, ../scss/sections/_stn_8.scss */
.section.stn-8 .container a {
  text-decoration: none;
  color: #2B6FB6;
}
/* line 17, ../scss/sections/_stn_8.scss */
.section.stn-8 .container a:hover {
  color: #d54c63;
}
