.section {
    &.stn-7 {
        &.pex-img-right {
            .container {
                .pi-text {
                    .pi-img {
                        top: 0;
                        @include response(hpd) {
                            top: 20%;
                        }
                    }
                }
            }
        }
    }
}