.section {
    &.stn-2 {
        background-color: #2e3b4e;
        color: rgb(255, 255, 255);
        padding: 50px 0;
        .container{
            max-width: 860px;
            @include response(apn) {
                text-align: center;
            }
                @include response(vpd) {
                    text-align: center;
            }
            .pex-grid {
                margin: 0 -15px;
                font-size: 0;
                 
                .pg-col {
                    width: 50%;
                    display: inline-block;
                    box-sizing: border-box;
                    font-size: 15px;
                    padding: 15px;
                    vertical-align: top;
                    @include response(apn){
                        width: 100%;
                    }
                    h3 {
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                    p {
                        line-height: 26px;
                    }
                }
            }
        }
        
    }
    
}
