.section {
    &.stn-6 {
        position: relative;
        background-image: url('../img/stn-6-bg.jpg');
        background-size: cover;
        .container {
            position: relative;
            padding: 355px 0px 80px 20px;
            color: aliceblue;
            @include response-to (hpd){
                padding: 150px 20px 150px 20px;
                text-align: center;
            }
            h2 {
                font-size: 40px;
                font-weight: 400;
                line-height: 50px;
            }
            p {
                font-size: 13px;
                font-weight: 600;
            }
        }
        &:before {
            content: " ";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 60%;
            @include background-image(linear-gradient(0deg, rgba(39, 39, 39, 1), rgba(39, 39, 39, 0)));
        }
    }
}