.section {
    &.stn-5 {
        background-image: url("../img/bg_section5.jpg");
        position: relative;
        color: rgb(255, 255, 255);
        .container {
            text-align: center;
            padding-top: 165px;
            padding-bottom: 165px;
            position: relative;
            @include response(vpn) {
                padding-top: 70px;
                padding-bottom: 70px;

            }
            P {
                font-size: 20px;
                font-weight: 400;
                color: #a87bb7;
            }
            .pex-btn {
                margin-top: 30px;
            }
        }
        &:before {
            content: " ";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: rgba(82, 26, 102, 0.8);
        }
    }
}