.section {
    &.stn-8 {
        height: 250px;
        background-color: #e7526b;
        padding: 50px 0;
        .container {
            padding: 50px 20px;
            height: 100%;
            text-align: center;
            h4 {
                font-weight: 700;
                text-transform: uppercase;
            }
            a {
                text-decoration: none;
                color: #2B6FB6;
                &:hover {
                    color: #d54c63;
                }
            }
        }
    }
}