.section {
    &.stn-3 {
        background-image: url('../img/stn-3-bg.jpg');
        background-size: cover;
        background-position: bottom;
        background-position: center 85%;
        background-repeat: no-repeat;
        color: rgb(255, 255, 255);
        position: relative;
        .container {
            text-align: center;
            padding-top: 165px;
            padding-bottom: 165px;
            position: relative;
            @include response(vpn) {
                padding-top: 70px;
                padding-bottom: 70px;

            }
            P {
                font-size: 15px;
                font-weight: 400;
            }
            .pex-btn {
                color: #d54c63;
                margin-top: 30px;
            }
        }
        &:before {
            content: " ";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: rgba(231, 82, 107, 0.80);
        }
    }
}