.section {
    &.stn-1 {
        background-image: url('../img/header_bg.jpg');
        height: 800px;
        padding-top: 101px;
        background-size: cover;
        box-sizing: border-box;
        max-height: 900px;
        min-height: 500px;
        @include response (apn){
            padding-top: 61px;
        }
        .designs {
            display: block;
            max-width: 550px;
            text-align: right;
            color: aliceblue;
            @include response(apn) {
                text-align: center;
                max-width: 100%;
            }
            @include response(apd) {
                text-align: center;
                max-width: 100%;
            }
            h1 {
                font-size: 50px;
                font-weight: 400;
                @include response(apn) {
                    font-size: 44px;
                }
            }
            p {}
        }

    }
}
