// Responses
$rzs:vpn,hpn,apn,vpd,hpd,apd,mbl,ltp,dtp,fhd;
$zmn:0,480,0,768,896,768,0,1025,1200,1920;
$zmx:479,767,767,895,1024,1024,1024,1199,1919,9999;

@mixin response($rz) {
    @for $idx from 1 through length($rzs) {
        @if nth($rzs, $idx) == $rz {
            @if nth($zmn, $idx) == 0 {
                @media (max-width: #{nth($zmx, $idx)}px) { @content; }
            }
            @else if nth($zmx, $idx) == 9999 {
                @media (min-width: #{nth($zmn, $idx)}px) { @content; }
            }
            @else {
                @media (min-width: #{nth($zmn, $idx)}px) and (max-width: #{nth($zmx, $idx)}px) { @content; }
            }
        }
    }
}

@mixin response-from($rz) {
    @for $idx from 1 through length($rzs) {
        @if nth($rzs, $idx) == $rz {
            @if nth($zmn, $idx) != 0 {
                @media (min-width: #{nth($zmn, $idx)}px) { @content; }
            }
            @else {
                @content;
            }
        }
    }
}

@mixin response-to($rz) {
    @for $idx from 1 through length($rzs) {
        @if nth($rzs, $idx) == $rz {
            @if nth($zmx, $idx) != 9999 {
                @media (max-width: #{nth($zmx, $idx)}px) { @content; }
            }
        }
    }
}

@mixin print() {
    @media print { @content; }
}

// Border radius
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
            border-radius: $radius;
}

// Box sizing
@mixin box-sizing($boxmodel) {
    -webkit-box-sizing: $boxmodel;
       -moz-box-sizing: $boxmodel;
            box-sizing: $boxmodel;
}

// Transition
@mixin transition($transition...) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

// Rotate element
@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
      -ms-transform: rotate($degrees);
       -o-transform: rotate($degrees);
          transform: rotate($degrees);
}

// Opacity element
@mixin opacity($property) {
    -moz-opacity: #{$property/100};
    -khtml-opacity: #{$property/100};
    opacity: #{$property/100};
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$property+")";
    filter: alpha(opacity=$property);
}

@mixin transition-ease-in-out($property, $duration) {
    transition: $property $duration ease-in-out 0ms;
    -webkit-transition: $property $duration ease-in-out 0ms;
    -moz-transition: $property $duration ease-in-out 0ms;
    -ms-transition: $property $duration ease-in-out 0ms;
    -o-transition: $property $duration ease-in-out 0ms;
}
// Disable select element
@mixin disable-select() {
    -webkit-touch-callout:none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@import "compass";