

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    .wrapper {
        position: relative;
        .section {
        }
        .container {
            h2 {
                font-size: 35px;
                font-weight: 300;
            }
            max-width: 1220px;
            width: 100%;
            padding: 0 20px;
            margin: 0 auto;
            box-sizing: border-box;
        }
    } 
    .pex-btn {
        display: inline-block;
        height: 60px;
        border-radius: 30px;
        box-sizing: border-box;
        line-height: 56px;
        font-size: 18px;
        background-color: #ffffff;
        padding: 2px 60px;
        text-decoration: none;
        color: #2e3b4e;
        font-weight: 700;
        transition: all .3s ease 0s;
        cursor: pointer;
        @include response (apn){
            font-size: 17px;
        }
        &.pb-purple {
            background-color: #8824cd;
            border-top: 1px solid rgba(255, 255, 255, 0.4); 
            color: #ffffff;
            padding-top: 1px;
            &:hover {
                background-color: shade( #8824cd, 20% );
            }
        }
        &.pb-border {
            border: 2px solid #ffffff;
            background-color: transparent;
            color: #ffffff;
            line-height: 54px;
            padding: 0 58px;
            &:hover {
                background-color: rgba(255,255,255,0.15);
            }
        }    
        &.pb-sml {
            height: 35px;
            padding-left: 30px;
            padding-right: 30px;
            line-height: 31px;
            font-size: 13px;
            &.pb-border {
                padding-left: 28px;
                padding-right: 28px;
            }
        }
        &:hover {
            background-color: rgba(255,255,255,0.85);
        }
    }
    .clearboth {
        &:before, &:after {
            content: " ";
            display: block;
            clear: both;
        }
    }
}
