.pex-header {
  position: fixed;
  height: 100px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
    @include response(apn) {
    height: 60px;
    background-color: rgba(58, 49, 69, 0.95);
  }
  .container {
    height: 100%;
    position: relative;
    .ph-mobile-btn {
      display: none;
      position: absolute;
      left: 0;
      height: 100%;
      width: 60px;
      background-color: #FFFFFF;
      @include response-to(vpd) {
        display: block;
      }
      &:before {
        width: 32px;
        height: 32px;
        display: block;
        content: " ";
        position: absolute;
      }
    }
    .ph-logo {
      width: 222px;
      height: 60px;
      //background-color: #ffffff;
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -30px;
      left: 0;
      background-image: url('../img/logo.png');
      background-size: cover;
      @include response-to(vpd) {
        left: 50%;
        margin-left: -111px;
      }
    }
    .ph-mobile {
      height: 100%;
      @include response-to(vpd) {
        height: auto;
        display: block;
        position: absolute;
        top: 60px;
        margin-left: -20px;
        background-color: #3e3347;
        padding-bottom: 20px;
        padding-top: 20px;
      }
      .ph-search {
        float: right;
        height: 100%;
        white-space: nowrap;
        padding-left: 20px;
        @include response-to(vpd) {
          width: 768px;
          padding-bottom: 20px;
          float: left;
        }
        &:before {
          content: " ";
          height: 100%;
          width: 0;
          display: inline-block;
          vertical-align: middle;
        }
        input {
          height: 44px;
          width: 200px;
          border-radius: 22px;
          display: inline-block;
          vertical-align: middle;
          border: 0 none;
          padding: 0 20px;
          outline: 0 none;
          font-size: 12px;
          color: #626262;
          line-height: 44px;
          &:focus::-webkit-input-placeholder {color: transparent}
          &:focus::-moz-placeholder          {color: transparent}
          &:focus:-moz-placeholder           {color: transparent}
          &:focus:-ms-input-placeholder      {color: transparent}
        }
      }
      .ph-menu {
        float: right;
        list-style: none;
        height: 100%;
        margin: 0;
        padding: 0;
        @include response-to(vpd) {
          float: left;
          padding-left: 20px;
        }
        li {
          display: inline-block;
          height: 100%;
          vertical-align: top;
          @include response-to(vpd) {
            display: list-item;
          }
          a {
            color: #ffffff;
            display: block;
            height: 100%;
            padding: 0 20px;
            white-space: nowrap;
            box-sizing: border-box;
            padding-top: 3px;
            border-bottom: 3px solid rgba(255,255,255,0);
            transition: all .3s ease 0s;
            font-size: 13px;
            @include response-to(vpd) {
              font-size: 18px;
              padding: 10px 20px;
            }
            &:before {
              content: " ";
              height: 100%;
              width: 0;
              display: inline-block;
              vertical-align: middle;
            }
            i {
              display: inline-block;
              vertical-align: middle;
              font-style: normal;
            }
            &:hover {
              border-bottom: 3px solid rgba(255,255,255,0.7);
            }
          }
        }
      }
    }
  }
}

