.section {
    &.pex-img-left, &.pex-img-right {
        position: relative;
        overflow: hidden;
        .container {
            .pi-text {
                padding: 50px 0;
                color: #3a4d60;
                width: 56.666%;
                box-sizing: border-box;
                @include response-to(vpd){
                    width: 100%;
                    text-align: center;
                }
                        @include response (hpn) {
                            padding-left: 40px;
                            padding-right: 40px;
                        }
                             @include response(vpd){
                                padding: 40px 20px;
                                 text-align: justify;
                             }
                .pi-img {
                    position: absolute;
                    top: -40%;
                    width: 43.333%;
                    @include response(apn){
                        position: relative;
                        width: 100%;
                    }
                    @include response(vpd) {
                        position: relative;
                        padding-top: 20px;
                    }
                }
                h4 {
                    font-size: 15px;
                    font-weight: 700px;
                    text-transform: uppercase;
                }
                p {
                    font-size: 19px;
                    line-height: 31px;
                    + p {
                        font-size: 15px;
                        line-height: 26px;
                    }
                }
            }
        }
    } 
    &.pex-img-left {
        .container {
            .pi-text {
                float: right;
                padding-left: 20px;
                @include response(vpn){
                    padding-left: 0;
                }
                p + p {
                    @include response(vpd) {
                        padding-top: 100px;
                    }
                }
                .pi-img {
                    left: 0;
                    @include response(vpd) {
                        float: left;
                        padding-right: 20px;
                        width: 36%;
                    }
                    @include response(hpd) {
                        top: -10%;
                    }
                }
            }
        }
    }
    &.pex-img-right {
        .container {
            .pi-text {
                float: left;
                padding-right: 20px;
                @include response(vpn){
                    padding-right: 0;
                }
                .pi-img {
                    right: 0;
                    @include response(vpd) {
                        float: right;
                        padding-left: 20px;
                        }
                    }
                }
            }
        }    
    }
